[submodule "assignment02"]
	path = assignment02
	url = https://github.com/lse-me314/assignment02
[submodule "assignment03"]
	path = assignment03
	url = https://github.com/lse-me314/assignment03
[submodule "assignment04"]
	path = assignment04
	url = https://github.com/lse-me314/assignment04
[submodule "assignment05"]
	path = assignment05
	url = https://github.com/lse-me314/assignment05
[submodule "assignment06"]
	path = assignment06
	url = https://github.com/lse-me314/assignment06
[submodule "assignment07"]
	path = assignment07
	url = https://github.com/lse-me314/assignment07
[submodule "assignment08"]
	path = assignment08
	url = https://github.com/lse-me314/assignment08
[submodule "assignment09"]
	path = assignment09
	url = https://github.com/lse-me314/assignment09
[submodule "assignment10"]
	path = assignment10
	url = https://github.com/lse-me314/assignment10
[submodule "assignment11"]
	path = assignment11
	url = https://github.com/lse-me314/assignment11
